@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');

*,
*::after,
*::before{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;
scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
/* ############## utility classes ############### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
h1{
    font-size: 3.5rem;
}


.md-heading{
    font-size:1.8rem;
}
.btn{
    text-decoration: none;
    font-size: 2rem;
    background-color: rgba(15, 104, 55, 0.527);
    display: flex;
    color: white;
    flex-direction: row;
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #5203035d;
    box-shadow: 2px 2px 1px #117964;
}
/* ################### navbar styling ################ */
 /* for dekstop mode */
 .navbar input[type='checkbox'],
 .navbar .hamburger-lines{
     display:none;
 }
 .navbar{
     box-shadow: 0px 5px 10px 0px #aaa;
     position: fixed;
     width: 100%;
     background-color:#fff ;
     color: #000;
     opacity: 0.85;
     z-index: 999;
 }
 .navbar-container{
     display: flex;
     justify-content: space-between;
     height: 64px;
     align-items: center;
 }
 .menu-items{
     order: 2;
     display: flex;
      
 }
 .menu-items li{
    list-style: none;
    margin-left:1.5rem ;
    font-size: 1.8rem;   
 }
 .logo{
     order: 1;
     font-size: 3rem;
 }
.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in;
}
.navbar a:hover{
    color: #117964;
}
 .showcase-area{
 height: 70vh;
 object-fit: fill;
 background: url("../img/header-image2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 text-align:center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 object-position: top;
 
}

/* ############### about section ############# */
 #about{
     padding: 50px 0px;
     background:#f5f5f7 ;
 }
.about-wrapper{
     display: flex;
     flex-wrap: wrap;  
 }

.about-img img{
    flex: 1 1 400px;
    padding:30px ;
    height: 350px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    animation:right ;
}

.about-text{
    flex: 1 1 400px;
    padding: 30px;
    height: 300px;
    margin: auto;  
}
.about-text p{
    font-size: 1.6rem;
    color: #555;
}
.about-text .small{
    font-size: 1.5rem;
    color: #666;
    font-weight: 600;
}
/* ################# types of food section ############ */

 #food{
    padding: 5px 0px 10px 0px;
}
#food h2{
    font-size: 2.5rem;
    color: #666;
    font-weight: 800;
    display:block;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}
.food-container{
    display: flex;
    justify-content: space-evenly;
   
}
.img-container img{
   width: 350px;
   max-width: 100%;
}
.img-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.img-content {
 position: absolute;
 top: 70%;
left: 40%;
color: #fff;
text-align: center;
opacity: 0;
z-index: 2;
transition:all 1s ease-in-out;
}
.img-container:hover .img-content{
    opacity: 1;
    top: 30%;
}
.img-content h3{
    font-size: 2rem;
    font-weight: 900;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.774);
    opacity: 0;
    z-index: 1;
    transition:opacity 0.2s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
}

/* ############ food menu ##################### */
/* #food-menu {
  border: 5px solid yellow;
}
.food-menu-item{
    border: 2px solid red;
    position: relative;
    width: 300px;
    height: 300px;
}
.food-img img{
    border: 2px solid green;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
}
 .food-menu-container .food-disciption{
     display: flex;
 } */

.food-menu-heading{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #666;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow:2px 4px 2px rgba(0, 0, 0, 0.445) ;
}
.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.food-discription{
    margin: auto 1.5rem;
}
.food-discription h2{
    font-size: 2.2rem;  
    font-weight: 600;
    color: #444; 
}
.food-discription p{
    font-size: 1.5rem; 
    color: #666;  
}
.food-discription .food-price{
    font-size: 1.6rem;  
    color: #117964;
    font-weight: 700; 
}
/* ################ testimonail section ############## */
.testimonial{
    padding: 5rem 0rem;
    background: rgb(243,243,243);
}
.testimonal-titel{
    font-size: 3.2rem;
    color: #666;
    text-align:center;
}
.testimonial-container{
    display: flex;
    padding: 1rem;
   
}
.testinomial-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.customer-photo img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
.testinomial-box p{
    font-size: 1.5rem;
    text-align: center;
    color: #555;
    padding: 1rem;
    margin: 0 3rem;
    
    
}
.customer-photo .customer-name{
    font-size: 1.7rem;
    font-weight: 800;
    color: #666;
    text-align: center;
}
.star-ratting span{
    color:#ff9525;
}
/* ################ Contact Us ############ */
#contact .contact-container {
    background-color: #e1e1e7ec;  
    margin-top: 3rem;
    padding: 5rem 0;
   
}
.contact-container{
    display: flex;
    justify-content: center;
    background: #fff;
}
.form-container{
    padding: 1rem;
    width: 40%;
    margin-top:0;
  
}
.form-container input ,.form-container textarea{
    display: block;
    width: 90%;
    border: none;
    border-bottom: 3px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 600;
    padding-left: 1rem;
   
}
.form-container a{
    display: center;
    width: 20%;
}

.form-container h2{
    font-size: 3rem;
    font-weight: 700;
    color: #555;
}
.contact-img img{
    margin-top: 3rem;
}
/* ################ footer #################### */
#footer h2{
    text-align: center;
    background:rgb(28, 92, 92) ;
    padding: 3rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
/* ################# media quires ################# */

@media(max-width:768px){
    .navbar{
        opacity: 0.95px;
        height: 70px;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display:block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64vh;
    }
    .navbar-container input[type="checkbox"]{
        position:absolute;
        display: block;
        width: 32px;
        height: 40px;
        top: 30px;
        left: 20px;
        z-index: 3;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 30px;
        width: 32px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
     .navbar-container .menu-items{
         padding-top: 100px;
         background-color: #ffff;
         height: 400px;
         max-width: 100px;
         transform: translate(-150%);
         display: flex;
         flex-direction: column;
         margin-left: -20px;
         padding-left: -40px;
         transition: transfom 0.5s ease-in-out;
         box-shadow:5px 0px 10px #aaaa ;
     }
     .navbar .menu-items li{
         margin-bottom: 1rem;
         font-size: 2rem;
         font-weight: 500;
     }
     .logo{
         position: absolute;
         top: 10px;
         right: 15px;
         font-size: 3rem;
     }
      .navbar-container input[type="checkbox"]:checked ~ .menu-items{
         transform: translate(0%);
     }
     .navbar-container input[type="checkbox"]:checked ~ .menu-items .line1{
         transform: rotate(45deg);
     }
     .navbar-container input[type="checkbox"]:checked ~ .menu-items .line2{
         transform: scaleY(0px);
     }
     .navbar-container input[type="checkbox"]:checked ~ .menu-items .line3{
         transform: rotate(-45deg);
     } 

     .food-container {
         flex-direction: column;
         max-width: 100%;
         
     }
     .food-type:not(last-child){
         margin-bottom: 3rem;
     }
     .food-type{
         box-shadow: 5px 5px 10px 0px #aaa;
     }
     .img-container{
        margin-left: 40px; 
     }
    }
/* ###################### smal screen ########### */
@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }
    .food-container img{
        margin: auto;
    }
    .form-container{
        width: 90%;
        margin-left: 6rem;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-img{
        width: 90%;
        margin: 3rem;
       
    }
    .contact-img img{
        width: 100%;
    }
    .form-container .btn{
        padding-right: 8rem;
    }
}
/* ################### land scape mode ################ */
@media (oriantation:landscape) and (max-width:500px){
    .showcase-area{
        height:50vmax;
    }
}
